.imageFit { height: 100%; width: 100%; }
.black{
	background-color: black;
}
.red{
	background-color: red;
}
.green{
	background-color: green;
}
.blue{
	background-color: blue;
}
.yellow{
	background-color: yellow;
}
.white{
	background-color: white;
}